@tailwind base;
@tailwind components;
@tailwind utilities;

{/* cor e sombra do botão */}
.btn {
  background: bg-gray-500;
  box-shadow: 0px 3px 30px #ea580c;
}

{/* hover dos botões */}
.btn:hover {
  background: linear-gradient(
    92.23deg,
    #fb923c 21.43%,
    #f97316 50.63%,
    #ea580c 100%,
    #c2410c 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #fb923c 21.43%,
    #f97316 50.63%,
    #ea580c 100%,
    #c2410c 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#fb923c] to-[#ea580c] font-bold font-primary hover:from-[#fb923c] hover:to-[#ea580c];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
